#gear {
  fill: #d7e0ff;
  font-size: 35px;
  opacity: 50%;
  cursor: pointer;
}

li {
  color: #979797;
  font-weight: bold;
  flex: 1;
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  color: #d7e0ff;
  margin: 0;
}

.active {
  position: relative;
  z-index: 1;
  color: #1e213f;
  transition: color 0.5s;
}
